In [2]:
#Genre based movie recommendation system 
import numpy as np
import pandas as pd

In [32]:
movies = pd.read_csv('tmdb_5000_movies.csv')

movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [33]:
movies.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [34]:
#Dropping columns that are not useful
features = ['genres','popularity','vote_average','id','title', 'vote_count']
movies = movies[features]

In [35]:
movies.head()

,genres,popularity,vote_average,id,title,vote_count
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",150.437577,7.2,19995,Avatar,11800
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",139.082615,6.9,285,Pirates of the Caribbean: At World's End,4500
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",107.376788,6.3,206647,Spectre,4466
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",112.312950,7.6,49026,The Dark Knight Rises,9106
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",43.926995,6.1,49529,John Carter,2124

In [36]:
#Extract genre names from object
from ast import literal_eval

def convert(obj):
    list = []
    for j in literal_eval(obj):
        list.append(j['name'])
    return list

In [37]:
movies['genres'] = movies['genres'].apply(convert)

In [38]:
movies['genres'].iloc[0]

['Action', 'Adventure', 'Fantasy', 'Science Fiction']

In [39]:
#Convert genres list to | seperated string
def convert2(obj):
    temp = ""
    temp = "|".join(str(e) for e in obj)
    return temp

In [40]:
convert2(['Action', 'Adventure', 'Fantasy', 'Science Fiction'])

'Action|Adventure|Fantasy|Science Fiction'

In [41]:
movies['genres'] = movies['genres'].apply(convert2)

In [42]:
movies.head()

,genres,popularity,vote_average,id,title,vote_count
0,Action|Adventure|Fantasy|Science Fiction,150.437577,7.2,19995,Avatar,11800
1,Adventure|Fantasy|Action,139.082615,6.9,285,Pirates of the Caribbean: At World's End,4500
2,Action|Adventure|Crime,107.376788,6.3,206647,Spectre,4466
3,Action|Crime|Drama|Thriller,112.312950,7.6,49026,The Dark Knight Rises,9106
4,Action|Adventure|Science Fiction,43.926995,6.1,49529,John Carter,2124

In [43]:
#Get list of unique genres
genre_list = ""
for index,row in movies.iterrows():
        genre_list += row.genres + "|"
#Split the string into a list of values
genre_list_split = genre_list.split('|')
#De-duplicate values
new_list = list(set(genre_list_split))
#Remove the value that is blank
new_list.remove('')
#Inspect list of genres
new_list

['Adventure',
 'Family',
 'Drama',
 'History',
 'Mystery',
 'Romance',
 'Comedy',
 'Action',
 'Crime',
 'Music',
 'Fantasy',
 'Western',
 'War',
 'Foreign',
 'Thriller',
 'Animation',
 'TV Movie',
 'Science Fiction',
 'Documentary',
 'Horror']

In [44]:
#Add new column for each genre in dataframe

movies_genres = movies.copy()
for genre in new_list :
    movies_genres[genre] = movies_genres.apply(lambda _:int(genre in _.genres), axis = 1)

In [45]:
movies_genres.head()

,genres,popularity,vote_average,id,title,vote_count,Adventure,Family,Drama,History,...,Fantasy,Western,War,Foreign,Thriller,Animation,TV Movie,Science Fiction,Documentary,Horror
0,Action|Adventure|Fantasy|Science Fiction,150.437577,7.2,19995,Avatar,11800,1,0,0,0,...,1,0,0,0,0,0,0,1,0,0
1,Adventure|Fantasy|Action,139.082615,6.9,285,Pirates of the Caribbean: At World's End,4500,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,Action|Adventure|Crime,107.376788,6.3,206647,Spectre,4466,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Action|Crime|Drama|Thriller,112.312950,7.6,49026,The Dark Knight Rises,9106,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
4,Action|Adventure|Science Fiction,43.926995,6.1,49529,John Carter,2124,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [46]:
#calculate the percentile count. It gives the no of ratings at least 70% of the movies have
np.percentile(movies_genres['vote_count'],70)

581.0

In [47]:
#Get the average movie rating across all movies 
avg_rating_all=movies_genres['vote_average'].mean()
avg_rating_all

6.092171559442011

In [49]:
#Function for weighted rating score based off count of votes
def weighted_rating(x, m=10, C=avg_rating_all):
    v = x['vote_count']
    R = x['vote_average']
    # Calculation based on the IMDB formula
    return (v/(v+m) * R) + (m/(m+v) * C)

In [50]:
#Calculate the weighted score for each movie
movies_genres['weighted_score'] = movies_genres.apply(weighted_rating, axis=1)
movies_genres.head()

,genres,popularity,vote_average,id,title,vote_count,Adventure,Family,Drama,History,...,Western,War,Foreign,Thriller,Animation,TV Movie,Science Fiction,Documentary,Horror,weighted_score
0,Action|Adventure|Fantasy|Science Fiction,150.437577,7.2,19995,Avatar,11800,1,0,0,0,...,0,0,0,0,0,0,1,0,0,7.199062
1,Adventure|Fantasy|Action,139.082615,6.9,285,Pirates of the Caribbean: At World's End,4500,1,0,0,0,...,0,0,0,0,0,0,0,0,0,6.898209
2,Action|Adventure|Crime,107.376788,6.3,206647,Spectre,4466,1,0,0,0,...,0,0,0,0,0,0,0,0,0,6.299536
3,Action|Crime|Drama|Thriller,112.312950,7.6,49026,The Dark Knight Rises,9106,0,0,1,0,...,0,0,0,1,0,0,0,0,0,7.598346
4,Action|Adventure|Science Fiction,43.926995,6.1,49529,John Carter,2124,1,0,0,0,...,0,0,0,0,0,0,1,0,0,6.099963

In [52]:
#list top scored movies over the whole range of movies
pd.DataFrame(movies_genres.sort_values(['weighted_score'],ascending=False)[['title','vote_count','vote_average','weighted_score','genres']][:10])

,title,vote_count,vote_average,weighted_score,genres
1881,The Shawshank Redemption,8205,8.5,8.497069,Drama|Crime
3337,The Godfather,5893,8.4,8.396090,Drama|Crime
662,Fight Club,9413,8.3,8.297657,Drama
3232,Pulp Fiction,8428,8.3,8.297383,Thriller|Crime
1818,Schindler's List,4329,8.3,8.294912,Drama|History|War
3865,Whiplash,4254,8.3,8.294822,Drama
2294,Spirited Away,3840,8.3,8.294265,Fantasy|Adventure|Animation|Family
2731,The Godfather: Part II,3338,8.3,8.293406,Drama|Crime
65,The Dark Knight,12002,8.2,8.198245,Drama|Action|Crime|Thriller
809,Forrest Gump,7927,8.2,8.197344,Comedy|Drama|Romance

In [64]:
# Gives the best movies according to genre based on weighted score which is calculated using IMDB formula
def get_genre_based_recommendation(genre,top_n):
    temp = movies_genres.loc[(movies_genres[genre]==1)]
    temp = temp.sort_values(by=['weighted_score'],ascending=False)
    temp = temp.iloc[:top_n]
    features = ['title','genres','weighted_score']
    temp = temp[features]
    return temp

In [81]:
temp = get_genre_based_recommendation('Drama',5)
temp.head()

                         title             genres  weighted_score
1881  The Shawshank Redemption        Drama|Crime        8.497069
3337             The Godfather        Drama|Crime        8.396090
662                 Fight Club              Drama        8.297657
1818          Schindler's List  Drama|History|War        8.294912
3865                  Whiplash              Drama        8.294822

In [66]:
import pickle
pickle.dump(movies_genres,open('movies_genres.pkl','wb'))